{% extends "base.html" %}

{% block scripts %}
    {% if form != None %}
        <script type="text/javascript">
        function buttonClick (button)
        {
            document.getElementById("id").value = button.id;
            document.querySelector("input[id*='submit']").click();
        }
        </script>
    {% endif %}
{% endblock %}
	
{% block app_content %}
	<h1>{{ title }}</h1>
    <div class="row">
        <div class="col-md-6">
            {% for order in orders %}
                <div class="well well-sm">
                    <p>
                        <b>Номер заказа: {{ order[0] }}</b> <br>
                        Дата создания: {{ order[1] }}<br>
                        Дата выполнения:
                        {% if order[2] == None %}
                            заказ не выполнен<br>
                        {% else %}
                            {{ order[2] }}<br>
                        {% endif %}
                        Цена: {{ order[3] }}<br>
                        Адресс: {{ order[4] }}<br>
                        {% if account != None %}
                            Клиент: {{ account[order[5] - 1][0] }}<br>
                        {% endif %}
                        {% for books_in_order in books_in_orders %}
                            {% if books_in_order[1] == order[0] %}
                                {% for book in books %}
                                    {% if book[0] == books_in_order[0] %}
                                        <img src="{{ book[6] }}" height="120" hspace="10" vspace="5" align="left">
                                        <b>{{ book[2] }}</b><br>
                                        ISBN: {{ book[1] }}<br>
                                        Количество книг:  {{ books_in_order[2] }}<br>
                                        Цена: {{ book[3] * books_in_order[2] }}<br>
                                        Издательство: {{ book[5] }}<br>
                                        Категории:
                                        {% for categories_book in categories_books %}
                                            {% if categories_book[0] == book_in_order[0] %}
                                                <p>{{ categories[categories_book[1] - 1][0] }}; </p>
                                            {% endif %}
                                        {% endfor %}
                                        <br>
                                        Авторы:
                                        {% for authors_book in authors_books %}
                                            {% if authors_book[0] == book_in_order[0] %}
                                                <p>{{ authors[authors_book[1] - 1][0] }}; </p>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                        {% if form != None %}
                            {% if current_user.id == 1 %}
                                <br><input class="btn btn-default" type="button" name="button_order_{{ order[0] }}" id="{{ order[0] }}" value="Заказ отдан" onclick="buttonClick(this)"/>
                            {% else %}
                                <br><input class="btn btn-default" type="button" name="button_order_{{ order[0] }}" id="{{ order[0] }}" value="Заказ получен" onclick="buttonClick(this)"/>
                            {% endif %}
                        {% endif %}
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
    {% if form != None %}
        <div style='display: none;'>
            <form action='' method='post' novalidate>
                {{ form.hidden_tag() }}
                {{ form.id() }}
                {{ form.submit() }}
            </form>
        </div>
    {% endif %}
{% endblock %}